@import './normalize';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Lato', sans-serif;
  line-height: 1;
}

$primary: #acd8ad;
$secondary: #3f4043;
$additional: #1c2a33;
$anchor: #a6d6e0;
$menu-hover:#f5f5f5;
$header:#373c3f;
$secondary-hover:#202529;
$light:#fafafa;
$light-hover:#f5f5f5;

body {
  font-family: 'Montserrat', sans-serif;
}
.container{
  width:280px;
  margin: 0 auto;
}
.header {
  background-color: $secondary;
  display: flex;
  position: relative;
}
.header__logo{
  display: none;
}
.header__nav{
  display: none;
}
.header__nav {
  display: none;
  position: absolute;
  flex-direction: column;
  width:183px;
  top:37px;
  right:0;
}
.header__nav.visible{
  display: flex;
}
.nav-item {
  text-decoration: none;
  color:#444;
  background-color: $light;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  line-height: 2.6;
  padding-left:14px;
  &:not(:last-child) {
    border-bottom:1px solid #f3f3f3;
  }
  &:hover {
  background-color: $light-hover;
}
}
.header__title {
  content: 'Navigation';
  color:#fff;
  padding:5px 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 2.17;
  margin-right: auto;
  margin-left: 17px;
  font-family: 'Montserrat', sans-serif;
}

.header__burger {
  width:45px;
  background-color: $secondary-hover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.header__burger-btn {
  border:none;
  background-color: transparent;
  color:#fff;
  width:17px;
  border-bottom: 2px solid $light;
  position: relative;
  &:before, &:after {
    content: '';
    border-bottom: 2px solid $light;
    width:17px;
    position: absolute;
    left:0;
    transition: transform 300ms;
  }
  &:before {
    top:4px;
  }
  &:after {
    top:-4px;
  }
  &.active {
    border: none;
    &:before, &:after{
      content: '';
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      top:0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

.promo {
  background-image: url("./img/header-fon-big.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  width:100%;
  background-position: center;
}

.promo__title{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin:0;
  padding-top: 18px;
  line-height: 1.3;
}

.promo__link {
  display: block;
  padding-bottom: 93px;
  color:$anchor;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
}

.products {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.products__item-link {
  background-color: #ccc;
  border-bottom: 2px solid #fff;
  text-decoration: none;
  display: flex;
}


.products__item-title {
  color:#fff;
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 135%;
  background-position: center;
  width:84%;
  padding:26.5px 10px;
}

.products_item-arrow {
  width:25%;
  background-color: $primary;
  color:#fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products__item--pizza {
  background-image: url("./img/pizza_fon.jpg");
  background-position: -75px -242px;
}
.products__item--salads {
  background-image: url("./img/salads_fon.jpg");
  background-position: 0 -162px;
  background-size: 100%;
}
.products__item--desserts {
  background-image: url("./img/desserts-fon.jpg");
  background-size: cover;
  background-position: center -25px;
}


.menu {
  color:$secondary;
}
.menu-section{
  display: flex;
  flex-direction: column;
}
.menu__menu-header{
  padding:0 10px;
}
.menu__column{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.menu__column .menu-container{
  display: flex;
  flex-direction: column;
  padding:10px 15px;
}
.title__main {
  color:$secondary;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 19px;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom:4px;
}
.title__second {
  font-size: 10px;
  font-weight: 300;
  color:#cbccce;
  padding-left:10px;
  padding-right: 10px;
}
.column__title {
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  padding: 9px 20px;
  margin-top: 10px;
}
.column__title--dark {
  color:$primary;
  background-color: $secondary;
}
.column__title--light{
  color:$light;
  background-color: $primary;
  margin-top: 20px;
}

.category__title{
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color:$secondary;
}
.category__icon {
  width:24px;
  height: 25px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.category__icon--pizza{
  background-image: url("./img/pizza-icon.png");

}
.category__icon--wine{
  background-image: url("./img/wine-icon.png");

}
.category__icon--coffee{
  background-image: url("./img/coffe-icon.png");

}
.category__icon--beer{
  background-image: url("./img/beer-icon.png");

}
.column__category{
  display: flex;
  margin-bottom: 7px;
  align-items: center;
  &:not(:first-child) {
    margin-top: 15px;
  }
}

.category__title{
  margin-right: auto;
}

.item__heading{
  margin:10px 0;
  display: flex;
  font-size: 13.5px;
}
.heading__title{
  margin-right: auto;
}
.heading__price {
  font-weight: 700;
}
.item__desc {
  font-size: 9px;
}

.footer{
  margin-top:38px;
  padding:10px 0;
  color:$light;
  background-color: $primary;

  font-family: 'Montserrat', sans-serif;

  text-align: center;
}
.footer__established,
.footer__advantage {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.33;
}
.footer__logo {
  display: none;
}

@media  (min-width:640px) {
  .container{
    width: 574px;
  }
  .header__title{
    font-size: 24px;
    line-height: 1.08;
    margin-left: 17px;
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .header__burger{
    width:83px;
  }
  .header__burger-btn{
    width: 26px;
    border-bottom-width: 3px;
    &:before, &:after{
      width: 26px;
      border-bottom-width: 3px;
    }
    &:before {
      top:6px;
    }
    &:after {
      top:-6px;
    }
  }
  .header__nav{
    width:283px;
    top:80px;
  }
  .nav-item{
    font-size: 14px;
    line-height: 2.86;
    padding-left: 27px;
  }

  .promo__title{
    font-size: 36px;
    line-height: 1.06;
    padding-top: 30px;
  }
  .promo__link {
    padding-bottom: 197px;
    font-size: 24px;
    margin-top: 22px;
  }
  .products__item-link {
    border-bottom-width: 3px;
  }
  .products__item-title {
    font-size: 36px;
    background-size: cover;
    padding:60px 10px;
  }
  .products__item--pizza {
    background-position: center -277px;
  }
  .products__item--salads {
    background-position: 0 -230x;
  }
  .products_item-arrow{
    font-size: 50px;
  }
  .menu__column .menu-container{
    padding:0 50px;
  }
  .title__main{
    font-size: 40px;
    padding-top: 45px;
    padding-bottom:10px;
  }
  .title__second {
    font-size: 20px;
    padding: 0;
  }
  .column__title {
    font-size: 40px;
    padding: 23px 35px;
    margin-top: 10px;
    margin-bottom: 38px;
  }
  .column__title--light{
    margin-top:40px;
  }
  .category__title{
    font-size: 30.5px;
  }
  .category__icon{
    height: 48px;
    width:50px !important;
  }
  .item__heading{
    margin:15px 0;
    font-size: 30.5px;
  }
  .item__desc {
    font-size: 18px;
    &:not(:last-child){
      margin-bottom:23px;
    }
  }
  .footer__advantage,
  .footer__established  {
    font-size: 18px;
    line-height: 1.44;
  };;
}
@media (min-width: 641px) {
  .header{
    padding:8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .header__logo{
    display: inline-block;
  }
  .header__title,
  .header__burger{
    display: none;
  }
  .header__nav{
    display: flex;
    flex-direction: row;
    position: static;
    width:100%;
    padding-left: 10px;
    align-items: center;
    margin-right: auto;
  }
  .nav-item {
    background-color: transparent;
    color: #fff;
    line-height: 1.73;
    font-size: 14px;
    border:none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
    text-align: center;
    padding-left: 10px;
  }
  .nav-item:not(:last-child){
    border:none;
  }
}
@media  (min-width:980px) {
  //----HEADER
  .header{
    padding:8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .header__title,
  .header__burger{
    display: none;
  }
  .header__nav{
    flex-direction: row;
    position: static;
    width:100%;
    padding-left: 30px;
  }
  .nav-item {
    background-color: transparent;
    color: #fff;
    line-height: 1.73;
    font-size: 15px;
    border:none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-right: 32px;
  }
  .nav-item:not(:last-child){
    border:none;
  }
  .header__logo {
    margin-right: 40px;
    display: inline-block;
  }
  .container{
    width:921px;
  }

  //----PROMO
  .promo__title {
    font-size: 54px;
    margin-bottom:57px;
    padding-top:64px;
  }
  .promo__link{
    font-size: 34px;
    padding-bottom: 260px;
  }

  //----PRODUCTS
  .products_item-arrow{
    display: none;
  }
  .products__item-title{
    width:100%;
    background-size: cover;
    background-position: center;
    padding:150px 40px;
  }
  .products {
    flex-direction: row;
    margin-bottom: 45px;
  }
  .products__item-link {
    flex-grow: 1;
    border: none;
    width: 30%;
  }
  .products__item-title{
    font-size: 38px;
  }


  //-----MENU

  .menu-section{
    flex-direction: row;
  }
  .column__title--light {
    margin-top: 10px;
  }
  .menu__menu-header{
    display: flex;
  }
  .menu-header__title{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title__main{
    font-size: 33.5px;
    padding-top: 0;
  }
  .title__second{
    font-size: 20px;
  }
  .title__img {
    background-image: url("./img/menu_logo.png");
    width:120px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .column__title{
    font-size: 33.5px;
  }
  .category__title{
    font-size: 26px;
  }
  .heading__title{
    font-size: 24px;
  }
  .heading__price{
    font-size: 24px;
  }
  .item__desc{
    font-size: 16px;
  }
  .category__icon {
    height: 42px;
  }

  .category__icon--pizza{
    width:42px;
  }
  .category__icon--wine{
    width:25px;
  }
  .category__icon--coffee{
    width:56px;
  }
  .category__icon--beer{
    width:40px;
  }


  //----FOOTER
  .footer .container {
    display: flex;
    align-items: center;
  }
  .footer__advantage,
  .footer__established {
    font-size: 18px;
  }
  .footer__logo{
    display: inline-block;
    margin-right: auto;
  }
}


@media  (min-width:1200px) {
  .container{
    width:1120px;
  }

   //----HEADER
  .header__nav{
    padding-left: 37px;
  }

  //----PROMO
  .promo__title {
    font-size: 65px;
    margin-bottom:53px;
    padding-top:58px;
  }
  .promo__link{
    font-size: 38px;
    padding-bottom: 380px;
  }

  //----PRODUCTS
  .products__item-title{
    font-size: 43px;
  }

  //-----MENU
  .menu-section{
    flex-direction: row;
  }
  .title__main{
    font-size: 40px;
  }
  .title__img {
    background-image: url("./img/menu_logo.png");
    width:120px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .column__title{
    font-size: 40px;
  }
  .category__title{
    font-size: 30.5px;
  }
  .heading__title{
    font-size: 27px;
  }
  .heading__price{
    font-size: 27px;
  }
  .item__desc{
    font-size: 18px;
  }
  .category__icon {
    height: 50px;
  }
  .category__icon--pizza{
    width:50px;
  }
  .category__icon--wine{
    width:27px;
  }
  .category__icon--coffee{
    width:60px;
  }
  .category__icon--beer{
    width:43px;
  }
}